.nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 1140px;
    margin: auto;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .nav {
        width: 1140px;
    }
}

@media only screen and (max-width: 600px) {
    .nav {
        width: 90%;
    }
}